<%- include src/tpl/layout/header -%>
<div class="container">  
  <h1>this is page 1aaaaaaaaa44444a</h1>
  <div id="app">
    <%- include src/components/loading/index -%>
  </div>
  
  <img src="dist/assets/img/1.jpg" alt="">
  <button type="button" class="btn btn-primary"><i class="iconfont icon-cart"></i> Large modal</button>


  <div class="alert alert-success" role="alert">
    <i class="iconfont icon-all"></i>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <strong>Well done!</strong> You successfully read this important alert message.
  </div>
  <div id="courseElem"></div>
</div>
<%- include src/tpl/layout/footer -%>  
